<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kangaroo Chat</title>
</head>
<body>
    <header>
        ルーム作成
    </header>
    <div id="container">
        <p>{{if .errormsg}} {{.errormsg}}{{end}}</p>
        <form action="" method="POST">
            <input type="hidden" name="csrftoken" value="{{.csrftoken}}">
            <p>Room Name: <input type="text" name="roomname" placeholder="Room Name"></p>
            <p>Room Password: <input type="password" name="password" placeholder="Room Password"></p>
            <p><input type="submit"></p>
        </form>
    </div>
</body>
</html>